/* fonts */

/* jetbrains-mono-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/jetbrains-mono-v20-latin-regular.woff2') format('woff2');
}


/* css reset */

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: "JetBrains Mono", monospace;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

header, nav {
    display: block;
}

body {
    line-height: 1;
    height: 100vh;
}


/* import variables */

@import url('./variables.module.css');


/* global styles */

* {
    text-transform: lowercase;
}

body {
    background-color: var(--lightmode-primary-color);
}

header {
    position: fixed;
    width: 100%;
    text-align: right;
}

h1, h2, h3, h4, h5, h6, .container > p, label {
    color: var(--lightmode-primary-text-color);
}

.main-layout {
    display: flex;
    height: 100vh;
}

.navigation-bar {
    position: fixed;
    width: 90px;
    height: 100%;
    background-color: var(--lightmode-secondary-color);
    left: 0;
    top: 0;
}

.top-links {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.bottom-links {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.navigation-bar-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.container {
    flex: 1;
    width: 100%;
    margin: 0 auto 0 90px;
    padding: 75px 5%;
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}

nav {
    align-items: center;
}

a {
    text-decoration: none;
}

nav a {
    color: var(--lightmode-secondary-text-color);
    transition: color 0.15s;
    margin: 25px 0;
    display: block;
    font-size: 0.7rem;
    text-align: center;
}

nav a:hover {
    color: var(--lightmode-primary-text-color);
}

a > p {
    margin: 5px;
}

.inline-link {
    color: var(--lightmode-secondary-text-color);
    text-decoration: underline;
    transition: color 0.15s;
    font-size: 1em;
}

.inline-link:hover {
    color:  var(--lightmode-primary-text-color);
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 35px;
}

p {
    line-height: 1.3;
    font-size: 1em;
}

button {
    margin: 10px 0;
    color: var(--lightmode-primary-color);
    padding: 10px 20px;
    background-color: var(--lightmode-secondary-text-color);
    transition: background-color 0.15s;
}

button:hover {
    cursor: pointer;
    background-color: var(--lightmode-primary-text-color);
}

.mobile-back-button {
    display: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    position: fixed;
    top: 16px;
    left: 16px;
    border-radius: 50%;
    background-color: var(--lightmode-secondary-color);
}

.mobile-back-button > svg {
    color: var(--lightmode-secondary-text-color);
    margin-left: -2px;
    transition: color 0.15s;
}

.mobile-back-button > svg:hover {
    color: var(--lightmode-primary-text-color);
}


/* dark mode */

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--darkmode-primary-color);
    }
    h1, h2, h3, h4, h5, h6, .container > p, label, button {
        color: var(--darkmode-primary-text-color);
    }
    .navigation-bar {
        background-color: var(--darkmode-secondary-color);
    }
    button {
        color: var(--darkmode-primary-color);
        background-color: var(--darkmode-secondary-text-color);
    }
    button:hover {
        background-color: var(--darkmode-primary-text-color);
    }

    nav a {
        color: var(--darkmode-secondary-text-color);
    }
    nav a:hover {
        color: var(--darkmode-primary-text-color);
    }
    .inline-link {
        color: var(--darkmode-secondary-text-color);
    }
    .inline-link:hover {
        color:  var(--darkmode-primary-text-color);
    }

    .mobile-back-button {
        background-color: var(--darkmode-secondary-color);
    }
    .mobile-back-button > svg {
        color: var(--darkmode-secondary-text-color);
    }
    .mobile-back-button > svg:hover {
        color: var(--darkmode-primary-text-color);
    }
}


/* mobile */

@media (max-width: 500px) {
    .container {
        margin: 0 auto;
    }
    .navigation-bar {
        height: 90px;
        width: 100%;
        position: fixed;
        bottom: 0;
        top: auto;
        display: flex;
        justify-content: center;
    }
    nav {
        display: flex;
        justify-content: center;
    }
    .top-links, .bottom-links {
        position: static;
        display: flex;
    }
    nav a {
        flex-direction: column;
        align-items: center;
        margin: 0 5px;
        width: 75px;
    }
    .logo {
        display: none;
    }
    .mobile-back-button {
        display: flex;
    }
}

/*

   |\      _,,,---,,_
   /,`.-'`'    -.  ;-;;,_
  |,4-  ) )-,_..;\ (  `'-'
 '---''(_/--'  `-'\_)  

    credit: Felix Lee

*/
